@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
	margin:0px;
	padding:0px;
	text-decoration:none;
	
}
.hdcont{
	background-color:white;
	padding:10px;
	padding-bottom:80px;
}
.hdlogo{
	float:left;
	margin-left:30px;
}
.hypes {
	position:absolute;
	left:400px;
	top:35px;
	font-family: 'Poppins', sans-serif;
    font-size:15px;
}
.hypes a{
	margin-left:35px;
	color:black;
	padding:8px;
}
.hypes a:hover{
	background-color:red;
	color:white;
	padding:8px;
	
}
.icon{
	float:right;
	position:relative;
	left:-120px;
	top:20px;
	margin-left:30px;
	
}
.icon i{
	margin-left:30px;
	
}
.icon i:hover{
	color:red;
}


.icon button{
	margin-left:30px;
	padding:5px;
	background-color:black;
	color:white;
	font-family: 'Poppins', sans-serif;
	font-family;6px;
}
.icon button:hover{
	background-color:red;
	color:white;
}

.line {
    padding-top: 0px;
    padding-bottom: 80px;
    background-color: red;
    width: 3px;
	position:absolute;
	left:50px;
    margin-top: 130px;
}
.sideicon{
	position:absolute;
	left:45px;
	top:310px;
}
.sideicon i:hover{
	color:blue;
}

.line2 {
    padding-top: 0px;
    padding-bottom: 80px;
    background-color: red;
    width: 3px;
	position:absolute;
	left:50px;
	top:210px;
    margin-top: 160px;
}
.mainbeat img{
	margin-left:30px;
}

.maincont{
	float:right;
	position:relative;
	left:-200px;
	top:50px;
}
.maincont h1{
	font-family: 'Poppins', sans-serif;
	font-size:50px;
}
.maincont p{
	font-family: 'Poppins', sans-serif;
    font-size:15px;
}
.maincont h6{
	font-family: 'Poppins', sans-serif;
    font-size:13px;
	padding:10px;
	margin-top:30px;
}
.maincont button{
	padding:7px;
	background-color:#f32b2b;
	color:white;
	font-family: 'Poppins', sans-serif;
	 -webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.3s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.maincont button:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding:17px;
  padding-left:60px;
  margin-left: -6px!important;
  margin-top: -6%;
  opacity: 0;
  transition: all 0.9s
}

.maincont button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.scroll{
	margin-top:50px;
	padding:60px;
	display:flex;
	justify-content:space-evenly;
	background-color:#f9f0ec;
}
.pic1{
	padding:20px;
	background-color:white;
	text-align:center;
	border:1px solid white;
	border-radius:20px;
	font-family: 'Poppins', sans-serif;
	transition:0.5s;
	
}

.pic1 img{
	width:160px;
	height:200px;
}
.pic1:hover{
	transform:scale(1.1);
}
.burgimg img{
	float:right;
	width:725px;
	height:500px;
	margin-right:70px;
	margin-top:30px;
	transition:0.5s;
	
}
.burgimg img:hover{
	transform:scale(1.1);
}

.burger h1{
	font-family: 'Poppins', sans-serif;
	font-size:40px;
	color:#9c1818;
}
.burger p{
	font-family: 'Poppins', sans-serif;
    font-size:15px;
}
.burger h6{
	font-family: 'Poppins', sans-serif;
    font-size:13px;
	padding:10px;
	margin-top:30px;
}
.burger button{
	padding:7px;
	background-color:#9c1818;
	color:#ffffff;
	font-family: 'Poppins', sans-serif;
}
.burger button:hover{
	background-color:red;
	color:white;
}

.burger{
	float:left;
	margin-top:130px;
	margin-left:50px;
}
.down{
	padding:5px;
	height:600px;
}
.mapsec{
	padding:50px;
	height:680px;
	
}
.maphead{
	text-align:center;
	padding:20px;
	font-family: 'Poppins', sans-serif;
}
.leftside{
	float:left;
	padding:30px;
}
.left1{
	padding:20px;
	font-family: 'Poppins', sans-serif;
}

.rightside{
	float:right;
	padding:30px;
}
.right1{
	padding:20px;
	font-family: 'Poppins', sans-serif;
}
.splsub{
	
	padding:10px;
	float:left;
	margin-left:50px;
}
.huge{
	padding:20px;
	height:600px;
	background-color:#fffcfc;
}	
.tit{
	font-family: 'Poppins', sans-serif;
	font-size:20px;
	height:100px;
}
.hugepod{
	display:flex;
	justify-content:space-evenly;
	padding:60px;
	margin-top:100px;
	
	
	
}
.s1{
	
	background-color:#f3e7e7;
	width:270px;
	height:220px;
	background-image: linear-gradient(#803f87, #f0a38a);
}
.s2{
	
	background-color:#fbd3d3;
	width:265px;
	height:220px;
	background-image: linear-gradient(#146dc6, #021543);

}
.s3{

	background-color:#f3e7e7;
	width:265px;
	height:220px;
	background-image: linear-gradient(#c6150b, #3a3735);
	

}
.s2 img{
	width:250px;
	position:relative;
	top:-160px;
	
	
}
.s1 img{
	width:240px;
	position:relative;
	top:-170px;
}
.s3 img{
	width:250px;
	position:relative;
	top:-170px;
	transform: rotate(25deg);
}

.s1as{
	padding:7px;
	background-color:white;
	color:black;
	font-family: 'Poppins', sans-serif;
	position:relative;
	top:-90px;
	width:200px;
	margin-left:20px;
	box-shadow:0px 3px 1px grey;
}
.s1as h6{
	font-family: 'Poppins', sans-serif;
	line-height:15px;
}
.s3as{
	padding:8px;
	background-color:white;
	color:black;
	font-family: 'Poppins', sans-serif;
	position:relative;
	top:-90px;
	width:200px;
	margin-left:20px;
	box-shadow:0px 3px 1px grey;
}
.s3as h4{
	font-family: 'Poppins', sans-serif;
	line-height:15px;
}
.s2as{
	padding:7px;
	background-color:white;
	color:black;
	font-family: 'Poppins', sans-serif;
	position:relative;
	top:-100px;
	width:200px;
	margin-left:20px;
	box-shadow:0px 3px 1px grey;
}
.streocontent{
	float:right;
	position:relative;
}
.streocontent h1{
	font-family: 'Poppins', sans-serif;
	font-size:50px;
}
.streocontent p{
	font-family: 'Poppins', sans-serif;
    font-size:15px;
}
.streocontent h6{
	font-family: 'Poppins', sans-serif;
    font-size:13px;
	padding:10px;
	margin-top:30px;
}
.streocontent button{
	padding:7px;
	background-color:#b90b0bc4;
	color:#ffffff;
	font-family: 'Poppins', sans-serif;
	margin-top:40px;
}
.streocontent button:hover{
	background-color:red;
	color:white;
}
.streo img{
	float:left;
	width:600px;
	height:311px
}
.streocontainer{
	padding:20px;
	padding-top:160px;
	margin-top:100px;
	height:400px;
}
.outline img{
	width:250px;
	float:left;
	transform: rotate(-40deg);
	margin-right:200px;
}
.outline2 img{
	width:250px;
	float:right;
  transform: rotate(40deg);
}
.outlinecontainer{
	padding:10px;
	height:290px;
}
.outlinecontent h1{
	font-family: 'Poppins', sans-serif;
	font-size:40px;
	
}


.outlinecontent button{
	padding:7px;
	background-color:black;
	color:red;
	font-family: 'Poppins', sans-serif;
	margin-top:40px;
}
.outlinecontent button:hover{
	background-color:red;
	color:white;
}
.outlinecontent{
	float:left;
	margin-top:40px;

}
.form-control{
	padding:7px;
		font-family: 'Poppins', sans-serif;
}
.btn5{
	padding:7px;
	background-color:black;
	color:red;
	font-family: 'Poppins', sans-serif;
}

.form1{
	margin-top:20px;
}


.top-left{
	float:left;
	width:250px;
	padding:60px;
	
	
	
}
.top-left h3{
	padding:10px;
	font-family: 'Oswald', sans-serif;
	font-size:20px;
	padding-bottom:20px;
	
}
.top-left p{
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	line-height:23px;
	color:#000000b3;
	
}
	

.top-right{
	float:right;
	margin-right:260px;
	padding:70px;
	padding-left:20px;
	
	
	
}
.top-right h3{
    padding:2px;
	font-family: 'Oswald', sans-serif;
	font-size:20px;
	padding-bottom:20px;
}
.top-right h6{
    width:180px;
	margin-top:25px;
	font-family: 'Poppins', sans-serif;
	background-color:#e2ee2f75;
	padding-left:20px;
	padding:10px;

}


.top-right p{
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	line-height:23px;
	color:#000000b3;
}
.top-right i{
	padding:7px;
	background-color:orange;
}

.top-center{
	width:200px;
	padding:70px;
	padding-right:30px;
	float:left;

	
}
.top-center h3{
	padding:2px;
	font-family: 'Oswald', sans-serif;
	font-size:20px;
	padding-bottom:20px;
}
.top-center ul{
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	list-style:none;
	line-height:30px;
	color:#000000b3;
}
.greenpart{
	padding:1px;
	background-color:green;
	margin-left:10px;
}
.copyrt{
	margin-top:40px;
	padding:20px;
	float:left;
	
	
	
}

.copyrt a{
	font-family: 'Poppins', sans-serif;
	color:black;
	padding-left:75px;
	font-size:14px;
	color:#000000b3;
}
.iconmody i{
	padding-left:15px;
	font-size:18px;

}
.iconmody i:hover{
	color:blue;
}


.dummy{
	position: relative;
	top: 20px;
}

















	